<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0">
<meta charset="utf-8">
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" rel="stylesheet">
<title>Binodata Tracker</title>

</head>
<body>
	<div id="map"></div>



	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDiAhXYZTiNZ1GNccP0Putxp_uEZYNBoE&callback=initMap&libraries=drawing"></script>
</body>
</html>